<%= form_for(@cohort) do |f| %>
  <% if @cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% @cohort.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<p>Hi!!!</p>

<p>Type of program?</p>

<%= select_tag :program, options_for_select(listofPrograms) %>

<%= select_tag :location, options_for_select(listofLocations) %>


<%= f.number_field :iteration %>
 

 
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  
<div class="field">
    <%= f.label "Give it a name?" %><br />
    <%= f.text_field :start_date %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
